.content {
    width: 400px;
    margin: 120px auto 0 auto;
    border-radius: 6px;
    box-shadow: 2px 2px 4px #959595;
}

.content__ttl {
    background-color: #3560F6;
    color: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-size: 18px;
    margin: 0;
    padding: 15px 20px;
}

.content__auth {
    background-color: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 20px 30px;
}

.auth__form--item {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.auth__form--item__input {
    width: 90%;
    border: none;
    border-bottom: 1px solid #000;
}


.auth__form--item:last-child {
    display: flex;
    justify-content: right;
    margin-top: 30px;
    margin-bottom: 0;
}

.auth__form--item__btn {
    background-color: #3560F6;
    border: none;
    border-radius: 6px;
    color: #fff;
    padding: 7px 15px;
    font-size: 14px;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 14px;
}

.success {
    font-size: 14px;
}