.content {
    width: 1342px;
    margin: 50px auto 0;
    display: flex;
    justify-content: space-between;
}

.detail {
    width: 612px;
}

.detail__box {
    display: flex;
    justify-content: left;
    margin-bottom: 30px;
}

.detail__back {
    margin-right: 15px;
}

.detail__back>button {
    border: none;
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px #959595;
    position: relative;
    font-size: 25px;
    font-weight: bold;
    line-height: 35px;
    cursor: pointer;
}

.detail__ttl {
    margin: 0;
    line-height: 40px;
}

.detail__img {
    width: 100%;
}

.detail__category {
    display: flex;
    justify-content: left;
    padding-left: 0;
    list-style: none;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.detail__category--item {
    padding-right: 5px;
}

.wrapper {
    width: 612px;
    position: relative;
}

.reservation {
    width: 612px;
    height: 727px;
    padding-top: 20px;
    background-color: #3560F6;
    border-radius: 6px;
    position: fixed;
    top: 120px;
}

.reservation__ttl {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
    color: #fff;
}

.reservation__form {
    padding-left: 20px;
    padding-right: 20px;
}

.reservation__form--date,
.reservation__form--time,
.reservation__form--people {
    border: none;
    border-radius: 6px;
    height: 40px;
    padding: 5px 10px;
}

.reservation__form--date {
    width: 171px;
    position: relative;
    cursor: pointer;
}

.reservation__form--date::-webkit-calendar-picker-indicator {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.reservation__form--time,
.reservation__form--people {
    width: 100%;
    appearance: none;
    cursor: pointer;
}

.wrapper__input {
    position: relative;
    height: 40px;
    margin-top: 20px;
}

.wrapper__input::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 9px 0 9px;
    border-color: #E2E2E2 transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    pointer-events: none;
}

.form__result {
    margin-top: 20px;
    background-color: #5580F7;
    color: #fff;
    border-radius: 6px;
    padding: 20px 20px;
}

.form__result--table {
    width: 100%;
}

.form__result--item {
    padding-top: 5px;
    padding-bottom: 5px;
}

.form__result--item:first-child {
    width: 100px;
}

.form__btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #003FF5;
    border: none;
    color: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
}

.error {
    color: #fff;
    padding-left: 20px;
}

.evaluation {
    width: 1342px;
    margin: 50px auto 0;
}

.evaluation__post {
    color: #282828;
    text-decoration-color: #D3D3D3;
    text-decoration-thickness: 2px;
}

.evaluation__ttl {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 612px;
    width: 100%;
    height: 40px;
    color: #fff;
    background-color: #5580F7;
}

.evaluation__item--group {
    margin-bottom: 50px;
}

.evaluation__item {
    background-color: transparent;
    border-top: 1px solid #D3D3D3;
    max-width: 612px;
    width: 100%;
}

.evaluation__item:last-child {
    border-bottom: 1px solid #D3D3D3;
}

.evaluation__link--wrapper {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.evaluation__link {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    text-decoration-color: #D3D3D3;
    text-decoration-thickness: 2px;
    cursor: pointer;
    font-size: 14px;
}

.evaluation__link--form {
    display: inline;
}

.star__box {
    height: 20px;
    display: flex;
    position: relative;
}

.star {
    font-size: 30px;
    color: #D9D9D9;
    height: 20px;
    line-height: 20px;
}

.star__check--group {
    position: absolute;
    display: flex;
}

.star__check {
    font-size: 30px;
    height: 20px;
    line-height: 20px;
    color: #3F5FEC;
}

.evaluation__img{
    width: 200px;
    margin-bottom: 10px;
}

@media screen and (max-width:768px) {

    .header,
    .modal__box--btn {
        width: 612px;
        margin-left: 78px;
    }

    .content,
    .evaluation {
        width: 768px;
        display: grid;
        place-items: center;
        grid-template-columns: 768px;
    }

    .reservation {
        position: static;
        height: 600px;
    }
}

@media screen and (max-width:425px) {

    .header,
    .modal__box--btn {
        width: 360px;
        margin-left: auto;
    }

    .content,
    .evaluation {
        width: 360px;
        display: grid;
        place-items: center;
        grid-template-columns: 360px;
    }

    .reservation {
        margin: 0 auto;
        height: 500px;
    }

    .reservation,
    .form__btn {
        width: 360px;
    }

    .detail {
        width: 360px;
    }

    .wrapper {
        width: 360px;
    }

    .comment__item {
        width: 350px;
    }

    .evaluation__comment {
        width: 360px;
    }
}