.content {
    width: 1360px;
    margin: 50px auto 0;
    display: flex;
    justify-content: space-between;
}

.detail {
    width: 45%;
}

.detail__box {
    display: flex;
    justify-content: left;
    margin-bottom: 30px;
}

.detail__back {
    margin-right: 15px;
}

.detail__back>button {
    border: none;
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px #959595;
    position: relative;
    font-size: 25px;
    font-weight: bold;
    line-height: 35px;
    cursor: pointer;
}

.detail__ttl {
    margin: 0;
    line-height: 40px;
}

.detail__img {
    width: 100%;
}

.detail__category {
    display: flex;
    justify-content: left;
    padding-left: 0;
    list-style: none;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.detail__category--item {
    padding-right: 5px;
}

.wrapper {
    width: 45%;
    position: relative;
}

.reservation {
    width: 100%;
    height: 115%;
    padding-top: 20px;
    background-color: #3560F6;
    border-radius: 6px;
    position: relative;
    position: absolute;
    top: -15%;
}

.reservation__ttl {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
    color: #fff;
}

.reservation__form {
    padding-left: 20px;
    padding-right: 20px;
}

.reservation__form--date,
.reservation__form--time,
.reservation__form--people {
    border: none;
    border-radius: 6px;
    height: 40px;
    padding: 5px 10px;
}

.reservation__form--date {
    width: 30%;
    position: relative;
    cursor: pointer;
}

.reservation__form--date::-webkit-calendar-picker-indicator {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.reservation__form--time,
.reservation__form--people {
    width: 100%;
    appearance: none;
    cursor: pointer;
}

.wrapper__input{
    position: relative;
    height: 40px;
    margin-top: 20px;
}

.wrapper__input::before{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 9px 0 9px;
    border-color: #E2E2E2 transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    pointer-events: none;
}

.form__result {
    margin-top: 20px;
    background-color: #5580F7;
    color: #fff;
    border-radius: 6px;
    padding: 20px 20px;
}

.form__result--table {
    width: 100%;
}

.form__result--item {
    padding-top: 5px;
    padding-bottom: 5px;
}

.form__result--item:first-child {
    width: 20%;
}

.form__btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #003FF5;
    border: none;
    color: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
}

.error{
    color: #fff;
    padding-left: 20px;
}