.search {
    width: 50%;
    margin-right: 10px;
}

.search__form,
.search__area,
.search__genre,
.search__word {
    background-color: #fff;
    border: none;
}

.search__area--box,
.search__genre--box {
    display: inline;
    position: relative;
}

.search__area,
.search__genre {
    border-right: 1px solid #EEE;
    width: 15%;
    appearance: none;
    padding-left: 5px;
    cursor: pointer;
}

.search__area--box::before,
.search__genre--box::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #E2E2E2 transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 13%;
    transform: translateY(-50%);
    pointer-events: none;
}

.search__form {
    padding: 10px 10px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px #959595;
}

.search__form--box {
    display: inline;
}

.search__word {
    width: 60%;
}

.search__word::placeholder {
    color: #757575;
}

.search__btn {
    background-color: transparent;
    border: none;
    width: 30px;
    cursor: pointer;
}

.content {
    width: 1360px;
    margin: 30px auto 0;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    flex-wrap: wrap;
}

.content__item {
    background-color: #fff;
    width: 330px;
    height: 330px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px #959595;
    margin-bottom: 30px;
    grid-column: auto/span 5;
}

.shop__img--box {
    height: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.shop__img {
    width: 100%;
}

.shop__txt {
    padding: 20px;
    padding-bottom: 0;
}

.shop__name {
    margin: 0;
}

.shop__category {
    display: flex;
    justify-content: left;
    padding-left: 0;
    list-style: none;
    margin: 0;
    font-size: 14px;
}

.shop__category--item {
    padding-right: 5px;
}

.shop__form {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.shop__form--detail>button {
    background-color: #3560F6;
    border: none;
    border-radius: 6px;
    color: #fff;
    padding: 7px 15px;
    font-size: 14px;
}

.shop__form--favorite>button {
    background-color: transparent;
    border: none;
}

.shop__form--detail>button,
.shop__form--favorite>button {
    cursor: pointer;
}

.heart,
.heart_favorite {
    width: 32px;
    height: 32px;
    position: relative;
}

.heart::before,
.heart::after,
.heart_favorite::before,
.heart_favorite::after {
    content: "";
    width: 50%;
    height: 80%;

    border-radius: 25px 25px 0 0;
    display: block;
    position: absolute;
}

.heart::before,
.heart::after {
    background: #EEE;
}

.heart_favorite::before,
.heart_favorite::after {
    background: #EB3223;
}

.heart::before,
.heart_favorite::before {
    transform: rotate(-45deg);
    left: 14%;
}

.heart::after,
.heart_favorite::after {
    transform: rotate(45deg);
    right: 14%;
}

.shop__evaluation {
    position: relative;
}

.total__star,
.total__star--check {
    font-size: 20px;
}

.total__star {
    color: #dededc;
}

.total__star--check {
    color: #fbbc04;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    top: 0;
}

#count{
    font-size: 16px;
    color: #959595;
}