.txt__name {
    width: 700px;
    margin: 30px 0 30px auto;
}

.content {
    width: 1342px;
    margin: 0 auto;
}

.content__wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 42px;
}

.txt__reservation {
    width: 100px;
    display: flex;
    align-items: flex-end;
}

.txt__reservation--item {
    margin: 0;
}

.txt__favorite {
    width: 700px;
}

.txt__favorite--item {
    margin: 0;
}

.content__reservation {
    width: 468px;
}

.reservation {
    margin-top: 20px;
    background-color: #3560F6;
    color: #fff;
    border-radius: 6px;
    padding: 30px 30px;
    width: 100%;
    box-shadow: 2px 2px 4px #959595;
}

.reservation:last-child {
    margin-bottom: 20px;
}

.reservation__ttl--box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#box__1 {
    display: flex;
}

.reservation__icon {
    width: 30px;
    height: 30px;
}

.reservation__ttl {
    margin: 0 0 0 30px;
    line-height: 30px;
}

#box__2 {
    display: flex;
}

.reservation__change {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.reservation__cancel--btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 0;
}

.reservation__cancel--img {
    width: 30px;
    height: 30px;
}

.reservation__table {
    width: 100%;
}

.reservation__item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.reservation__item:first-child {
    width: 100px;
}

.reservation__payment {
    display: flex;
    justify-content: right;
}

.reservation__payment--btn {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

.reservation__payment--done {
    margin: 0 0 0 auto;
    text-align: right;
    font-size: 13px;
    padding: 1px 6px;
    width: 100px;
}

.content__shop {
    width: 700px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.shop {
    background-color: #fff;
    width: 330px;
    height: 320px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px #959595;
    margin-bottom: 30px;
    grid-column: auto/span 5;
}

.shop:last-child {
    margin-bottom: 20px;
}

.shop__img--box {
    height: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.shop__img {
    width: 100%;
}

.shop__txt {
    padding: 20px;
    padding-bottom: 0;
}

.shop__name {
    margin: 0;
}

.shop__category {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-left: 0;
    list-style: none;
    margin: 0;
    font-size: 14px;
}

.shop__category--item {
    padding-right: 5px;
}

.shop__form {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.shop__form--detail>button {
    background-color: #3560F6;
    border: none;
    border-radius: 6px;
    color: #fff;
    padding: 7px 15px;
    font-size: 14px;
}

.shop__form--favorite>button {
    background-color: transparent;
    border: none;
}

.shop__form--detail>button,
.shop__form--favorite>button {
    cursor: pointer;
}

.heart,
.heart_favorite {
    width: 32px;
    height: 32px;
    position: relative;
}

.heart::before,
.heart::after,
.heart_favorite::before,
.heart_favorite::after {
    content: "";
    width: 50%;
    height: 80%;

    border-radius: 25px 25px 0 0;
    display: block;
    position: absolute;
}

.heart::before,
.heart::after {
    background: #EEE;
}

.heart_favorite::before,
.heart_favorite::after {
    background: #EB3223;
}

.heart::before,
.heart_favorite::before {
    transform: rotate(-45deg);
    left: 14%;
}

.heart::after,
.heart_favorite::after {
    transform: rotate(45deg);
    right: 14%;
}

.shop__evaluation {
    position: relative;
}

.total__star,
.total__star--check {
    font-size: 20px;
}

.total__star {
    color: #dededc;
}

.total__star--check {
    color: #fbbc04;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    top: 0;
}

#count {
    font-size: 16px;
    color: #959595;
}


@media screen and (max-width:1025px) {

    .header,
    .modal__box--btn {
        width: 900px;
    }

    .content {
        width: 900px;
    }

    .txt__favorite {
        width: 468px;
    }

    .txt__name,
    .content__shop {
        display: block;
        width: 330px;
    }
}

@media screen and (max-width:768px) {

    .header,
    .modal__box--btn {
        width: 714px;
    }

    .content {
        width: 714px;
    }

    .content__wrapper {
        margin-left: 21px;
    }

    .txt__favorite {
        width: 330px;
    }

    .content__reservation {
        width: 350px;
    }

    .reservation {
        padding: 15px 15px;
    }

    .reservation__ttl--box {
        margin-bottom: 10px;
    }

    .reservation__item {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .content__shop {
        display: block;
        width: 330px;
    }
}

@media screen and (max-width:425px) {

    .header,
    .modal__box--btn {
        width: 375px;
    }

    .modal__box--link {
        margin-top: 100px;
    }

    .txt__name {
        margin: 30px auto 30px;
        width: 350px;
    }

    .txt__reservation--item,
    .txt__favorite--item {
        width: 350px;
        margin: 0 auto;
    }

    .content {
        width: 350px;
    }

    .content__wrapper {
        display: block;
        margin-left: 0;
    }

    .content__shop {
        margin: 0 auto;
    }

    .content__reservation {
        margin: 0 auto;
    }
}