.content {
    width: 1000px;
    margin: 30px auto 0;
}

.content__form>form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content__form--box {
    width: 500px;
}

.content__form--item {
    display: flex;
    margin-bottom: 30px;
}

.content__form--item>h3 {
    margin: 0;
    width: 140px;
}

#name {
    padding-left: 10px;
}

#area {
    appearance: none;
    padding-left: 10px;
}

fieldset {
    width: 400px;
}

legend {
    text-align: center;
}

.genre__wrapper {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
}

.genre__item {
    grid-column: auto/span 6;
    padding-top: 10px;
    padding-bottom: 10px;
}

#name {
    height: 30px;
}

#area__wrapper {
    height: 30px;
    position: relative;
}

#area__wrapper::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 0 9px;
    border-color: #E2E2E2 transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 9%;
    transform: translateY(-50%);
    pointer-events: none;
}

#area {
    height: 100%;
}

#overview {
    resize: none;
    width: 350px;
    height: 230px;
    margin-bottom: 50px;
    padding: 10px 10px;
}

#btn {
    background-color: #3560F6;
    border: none;
    border-radius: 6px;
    color: #fff;
    padding: 7px 15px;
    font-size: 14px;
    display: block;
    margin: 0 0 0 auto;
}

#img {
    background-color: #fff;
    height: 30px;
    line-height: 30px;
    border-radius: 6px;
    padding: 0 10px;
    width: 350px;
}

#img::-webkit-file-upload-button {
    border: none;
    background-color: #fff;
}

#name,
#area {
    width: 200px;
}

#name,
#area,
#overview {
    border: none;
    border-radius: 6px;
}

#area,
.genre__item--check,
.genre__item>label,
#overview,
#img,
#img::-webkit-file-upload-button,
#btn {
    cursor: pointer;
}

.error {
    margin-left: 140px;
}

.content__reservation--table {
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 6px;
}

.content__reservation--header {
    width: 10%;
}

#name {
    width: 20%;
}

#date,
#time,
#number {
    width: 15%;
}

.error{
    color: red;
}