.content {
    width: 500px;
    margin: 30px auto 0 auto;
    border-radius: 6px;
    box-shadow: 2px 2px 4px #959595;
    background-color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.content__txt {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 45px;
}

.content__item--btn {
    background-color: #3560F6;
    border: none;
    border-radius: 6px;
    color: #fff;
    padding: 7px 15px;
    font-size: 14px;
    cursor: pointer;
}

@media screen and (max-width:1439px) {

    .header,
    .modal__box--btn {
        width: 1024px;
    }
}

@media screen and (max-width:768px) {

    .header,
    .modal__box--btn {
        width: 714px;
    }
}

@media screen and (max-width:425px) {

    .header,
    .modal__box--btn {
        width: 350px;
    }

    .content{
        width: 350px;
        padding: 50px 20px;
    }

    .content__txt{
        font-size: 22px;
    }
}